<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Felix Gellner">

  <title>PicoJournal</title>
  <%= favicon_link_tag("favicon-16x16.png") %>

  <!-- Bootstrap Core CSS -->
  <%= stylesheet_link_tag("bootstrap.min.css") %>

  <!-- fonts-->
  <%= stylesheet_link_tag('application', 'http://fonts.googleapis.com/css?family=Nixie+One', media:'all', 'data-turbolinks-track' => true) %>
  <%= stylesheet_link_tag('application', 'http://fonts.googleapis.com/css?family=Ledger', media:'all', 'data-turbolinks-track' => true) %>

  <!-- Custom CSS -->
  <%= stylesheet_link_tag("full-width-pics.css") %>
  <!--compiled SASS-->
  <%= stylesheet_link_tag("picojournal.css") %>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-top my-nav" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="index.html"><span class="pico">Pico</span><span class="journal">Journal</span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <header class="image-bg-fluid-height">
    <%= image_tag("scriptmtbold.png", alt: "logo", class:"img-responsive img-center") %>


    <section class="jumbo-message">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 seller-text">
            <h1>Remember your life</h1>
            <p class="lead section-lead">Do you feel like the days are just running by and even just the last week has become a big blurry chunk of time? Start your journal today, retain your memories and create a better version of yourself with Pico journal.</p>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <a href="register.html">
              <button type="button" class="btn btn-lg btn-default my-btn signup-btn">Sign Up</button>
            </a>
          </div>
          <div class="col-md-3 ">
            <a href="#welcome-section">
              <button type="button" class="btn btn-lg btn-default my-btn more-btn"> Tell me more</button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </header>

  <!-- Content Section -->
  <section id="welcome-section" name="welcome">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("iPhone_Pico_example_1.jpg", class: "img-promo") %>
        </div>
        <div class="col-lg-8">
          <h1 class="section-heading">So, what exactly is this?</h1>
          <p class="lead section-lead">PicoJournal helps you to remember the highs and lows of your life.</p>
          <p class="section-paragraph">Ever so often we get caught in the always repeating daily routine without ever reflecting on our life. Suddenly we wonder how quickly another year has passed. This is where PicoJournal wants to help. PicoJournal prevents this by only allowing
            a very short - the size of a tweet - summary of the most interesting things of each day. This short summary will be enough to recall the rest of that particular day. As a side effect your daily reflection will help you to live your life more
            meaningful.</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Content Section -->
  <section id="more-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-8">
          <h1 class="section-heading">How does it work?</h1>
          <p class="section-paragraph">PicoJournal is especially great for people who don't have the time to write a big journal entry every day. One or two sentences will be enough to remember your days!</p>
          <p class="lead section-lead"> <span class="glyphicon glyphicon-pencil"></span>  Write a sentence about your day</p>
          <p class="lead section-lead"> <span class="glyphicon glyphicon-star"></span>  Add a rating and a picture.</p>
          <p class="lead section-lead"> <span class="glyphicon glyphicon-ok"></span>  Remember!</p>
        </div>
        <div class="col-lg-4">
            <%= image_tag("iPhone_Pico_example_2.jpg", alt: "iphone example", class:"img-promo") %>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Content Section -->
  <section id="convinced-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <h1 class="section-heading" style="margin-right: 20px;">Start remembering now!</h1>
          <a href="register.html" style="margin-top: 30px; float: left;">
            <button type="button" class="btn btn-lg btn-default my-btn signup-btn">Sign Up</button>
          </a>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Felix Gellner 2016</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </footer>
</body>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</html>
