<%= form_for @day, html: {multipart: true}, remote: true do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="float:left;">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, input_html: {maxlength: 140}%>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field" style="float:right;">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, min:1, max:10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
