
<!-- navigation##############################-->
<%= render "partials/navigation" %>

<!---site-wrap###############################-->
<div class="site-wrap">

  <!-- Content Section -->
  <section class="home-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Hi <%= current_user.email %>, welcome back!</h2>
          <h3> You have missed <a href="#">?</a> day entries last week! Fill them in now.</h3>
        </div>

      </div>
    </div>
  </section>

  <!-- Content Section -->
  <section class="profile-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-lg-12">
          <%= image_tag("ich.jpg", class: "profile-img", alt: "profile picture", width:"200px", height:"200px") %>
          <div class="user-desc">
            <h3><%= current_user.email %><a href="#"><span style="font-size:15px; color: #ccc;" class="glyphicon glyphicon-cog"></span></a></h3>
            <p>Here since: 01/01/01</p>
            <p>314 entries</p>
          </div>
        </div>



      </div>
    </div>
  </section>

  <!-- Content Section -->
  <section class="single-day-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Have a look at this random day</h3>
        </div>
        <div class="container">
          <div class="timeline-header">
          </div>
          <ul class="timeline">

            <li class="timeline-sinlge">
              <div class="timeline-badge">
                <span class="timeline-balloon-date-day">27</span>
                <span class="timeline-balloon-date-month">Dec</span>
              </div>
              <div class="timeline-panel">

                <div class="timeline-body">
                  <div class="timeline-left">
                    <%= image_tag("tag.jpg", class: "day-img") %>
                  </div>
                  <div class="timeline-content">

                    <p class="day-text">&quot;Today I first did something very stupid, but made the best of it. For lunch i ate something delicious, yum. Best thing was meeting s/o. 4321&quot;</p>
                    <p class="day-short-rating"> 9 <span class="glyphicon glyphicon-star single-star"></span></p>

                  </div>
                </div>
              </div>
            </li>

            <!--timeline end-->
            <li>
              <div class="timeline-end">
                <span class=""></span>
              </div>
            </li>
            <!--/timeline end-->

          </ul>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
