
<!-- navigation##############################-->
<%= render "partials/navigation" %>

<!---site-wrap###############################-->
<div class="site-wrap">

  <!-- Content Section -->
  <section id="days-title-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 style="text-align:center;"><%= Time.now.strftime("%B") %> <%= Time.now.year%></h2>
          <span class="other-months"><a href="#"> <span class="glyphicon glyphicon-chevron-left"></span></a>   <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></span>
        </div>
      </div>
    </div>
  </section>

  <!-- Content Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="timeline-header">
          </div>
          <ul class="timeline">

            <%
            start_date = current_user.created_at.to_date
            end_date = Date.today
            end_date.downto(start_date).each do |date|
            %>



                    <%
                      if(@days.exists? date: date)
                        @days.where(date: date).each do |day|

                      %>
                    <li id="li_<%= date.strftime('%Y-%m-%d') %>">
                      <div class="timeline-badge" id="inner_<%= day.date %>">
                        <span class="timeline-balloon-date-day" style="display:block;"><%= day.date.day %></span>
                        <span class="timeline-balloon-date-month"><%= day.date.strftime("%b") %></span>
                      </div>
                      <div class="timeline-panel">

                        <div class="timeline-body">
                          <div class="timeline-left">
                            <%= image_tag( day.image.url(:thumb), class: "day-img") %>
                          </div>
                          <div class="timeline-content">

                            <p class="day-text">&quot;<%= day.description %>&quot;</p>
                            <p class="day-short-rating"> <%= day.rating %>
                               <span class="glyphicon glyphicon-star single-star"></span><%= link_to 'Edit', edit_day_path(day), id: "edit_day_ajax_#{day.id}", remote:true %><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></p>

                          </div>
                        </div>
                      </div>
                    </li>
                    <% end %>
                    <% else %>

                    <li id="li_<%= date.strftime('%Y-%m-%d') %>">
                      <div class="timeline-badge">
                        <span class="timeline-balloon-date-day" style="display:block;"><%= date.strftime("%d") %></span>
                        <span class="timeline-balloon-date-month"><%= date.strftime("%b") %></span>
                      </div>
                      <div class="timeline-panel">

                        <div class="timeline-body">
                          <div class="timeline-left">
                          </div>
                          <div class="timeline-content">

                            <!--<p class="day-text"><%= link_to 'Add this day', new_day_path %></p>-->
                            <a href="/days/new?date=<%= date.strftime('%Y-%m-%d') %>" data-remote="true" id="new_day_ajax_<%= date.strftime('%Y-%m-%d') %>"><p class="day-text">Add This day</p></a>

                            <p class="day-short-rating"></p>

                          </div>
                        </div>
                      </div>
                    </li>

                    <% end %>

            <% end %>

            <!--timeline end-->
            <li>
              <div class="timeline-badge">
                <span class="">more</span>
              </div>
            </li>
            <!--/timeline end-->

          </ul>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
