
<!-- navigation##############################-->
<%= render "partials/navigation" %>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @day.description %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
