<!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-top my-nav" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "/", :class => "navbar-brand brand" do %>
          <span class="pico">Pico</span><span class="journal">Journal</span>
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class="active"><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <p style="position:absolute; background-color: none; z-index:1; right:20px;" class="notice"><%= notice %></p>
  <p style="position:absolute; background-color: none; z-index:1; right:20px;" class="alert"><%= alert %></p>

  <header class="image-bg-fluid-height">
    <%= image_tag("scriptmtbold.png", alt: "logo", class:"img-responsive img-center") %>

    <section class="jumbo-message">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 seller-text">
            <h1>Login</h1>
            <p class="lead section-lead"></p>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :username %><br />
                <%= f.text_field :username, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log in", class: "my-btn btn center-block"%>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </section>
  </header>
