<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Felix Gellner">

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

  <title>PicoJournal</title>
  <%= favicon_link_tag("favicon-16x16.png") %>

  <!-- fonts-->
  <%= stylesheet_link_tag('application', 'http://fonts.googleapis.com/css?family=Nixie+One', media:'all', 'data-turbolinks-track' => true) %>
  <%= stylesheet_link_tag('application', 'http://fonts.googleapis.com/css?family=Ledger', media:'all', 'data-turbolinks-track' => true) %>
  <%= stylesheet_link_tag("/../css/font-awesome-4.6.3/css/font-awesome.min.css"); %>


  <!-- Custom CSS -->
  <%= stylesheet_link_tag("full-width-pics.css") %>
  <!--compiled SASS-->
  <%= stylesheet_link_tag("picojournal.css") %>

</head>

<body>

<%= yield %>

</body>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <i class="fa fa-camera-retro">sda</i>
        <p>Copyright &copy; Felix Gellner 2016</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>

<!-- jQuery -->
<!--<script src="assets/javascripts/jquery.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<!--<script src="assets/javascripts/bootstrap.min.js"></script>-->

</html>
